body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

h3 {
    font-family: 'Oxanium', Arial, Helvetica, sans-serif;
}
h2 {
    font-family: 'Oxanium', Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#containerLogin {
    margin-right: 1%;
}

#titleLink {
    color: whitesmoke;
    font-family: 'Oxanium', Arial, Helvetica, sans-serif;
    margin-left: 2px;
}

#titleLink:visited {
    color: whitesmoke;
}

#registerLink {
    color: whitesmoke;
    
}

.inputNav {
    height: 30px;
    border-radius: 8px;
    text-indent: 3px;
}

#sendButton {
    border-radius: 8px;
    height: 30px;
    font-family: 'Oxanium', Arial, Helvetica, sans-serif;
}

#containerDescriptionAuthor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 125px;
    background-color: ghostwhite;
    border-bottom: 1px black solid;
}

#avatarAuthor {
    height: 110px;
    border: black solid 1px;
    border-radius: 35%;
}

#sectionArticles {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 20px;
}

#titreSectionArticles {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    color: white;
    margin:0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}

#divTitlePosts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: auto;
    background-color: ghostwhite;
    border: 1px gray solid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

article {
    width: 100%;
    margin-bottom: 20px;
}

#postContent {
    text-align: center;
    border-left: 1px black solid;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
    border-radius: 15px;
    height: 195px;
    overflow: hidden;
    
}

#readMore {
    background-color: rgba(0, 0, 0, 0.9);
    margin: auto;
    display: block;
    position: relative;
    margin-top: -30px;
    width: 100%;
    height: 30px;
    font-size: 1.5em;
    text-align: center;
    color: white;
    border-radius: 15px;
}

#readMore:visited {
    color: white;
}

#readMore:hover {
    color: grey;
}

#listeNav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.elemNav {
    margin-right: 1%;
}

#containerNav {
    width: 25%;
}

.linkNav {
    color: white;
    text-decoration: none;
}

.linkNav:visited {
    color: white;
}

.linkNav:hover {
    color: grey;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: whitesmoke;
    text-align: center;
    position: relative;
    bottom: 0;
    margin-top: 10px;
}

#titlePost {
    text-align: center;
    line-height: 50px;
    font-family: 'Oxanium', Arial, Helvetica, sans-serif;
    background-color: ghostwhite;
    border: 1px black solid;
    border-radius: 15px;
    height: 50px;
    margin: auto;
}

#datePost {
    display: block;
    text-align: center;
}

#containerPost {
    width: 80%;
    margin: auto;
}

.containerAddComment {
    text-align: center;
}

#formComment {
    
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    text-align:center;
}

#textareaContent {
    height: 70px;
    width: 80%;
    border-radius: 10px;
}

#containerComment {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border: 1px black solid;
    border-radius: 15px;
    margin-top: 15px;
}

.headComment {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid whitesmoke;
    border-top: 0;
    border-radius: 15px;
    width: 100%;
    font-family: 'Oxanium', Arial, Helvetica, sans-serif;
    position: relative;
    margin: auto;
    margin-left: -1px;
    height: 25px;
    font-size: 18px;
    line-height: 25px;
    text-align:center;
    color: whitesmoke;
}

.linkReport {
    color: lightskyblue;
    font-size: 18px;
}

.linkReport:hover {
    color: grey;
}


.sendForm {
    width: 30%;
    color: black;
    border-radius: 10px;
    font-family: 'Oxanium', Arial, Helvetica, sans-serif;
}
